// resolutions
$mobile: 375px;
$desktop: 1440px;

// ========================================

// ## Colors

// ### Primary

$pale-blue: hsl(225, 100%, 94%);
$pright-blue: hsl(245, 75%, 52%);

// ### Neutral

$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
// ========================================

// ## Typography

// ### Body Copy

$para-font-size: 16px;

// ### Font

// - Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
// - Weights: 500, 700, 900
